@model Rose.VExtension.Server.Models.Plugin

@{
    ViewBag.Title = "PluginDetails";
    Layout = "~/Views/Shared/_DebugLayout.cshtml";
}

<h1>@Model.Name</h1>
<hr/>
<p>@Model.Id</p>
<p>@Model.PluginPackage.ToString()</p>

<form method="POST" action="@Url.Action("Settings")">
    <input type="hidden" name="pluginId" value="@Model.Id" />
    <input type="submit" value="Настройки" class="btn btn-primary" />
</form>

<table >
    
    <thead>
        <tr>
            <td>
                <h2>Хранилище</h2>
            </td>
            <td>
                <h2>Ресурсы</h2>
            </td>
        </tr>
    </thead>

    <tr>
        <td>
            <table class="table table-bordered">
                
                <thead>
                    <tr>
                        <td>Имя</td>
                        <td>Значение</td>
                        <td>Действия</td>
                    </tr>
                </thead>
                
                <tbody>

                    @foreach (var item in Model.StorageItems)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Value
                            </td>
                            <td>
                                <form method="POST" action="@Url.Action("DeleteStorageItem")">
                                    <input type="hidden" name="pluginId" value="@Model.Id" />
                                    <input type="hidden" name="name" value="@item.Name" />
                                    <input type="submit" value="Удалить" class="btn btn-danger" />
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </td>
        <td>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            Токен
                        </td>
                        <td>
                            Имя ресурса
                        </td>
                        <td>
                            Время действия
                        </td>
                    </tr>
                </thead>

                @foreach (var res in Model.ResourceTokens)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Index", "Resources", new RouteValueDictionary {{"id", res.Id}})">@res.Id</a>
                        </td>
                        <td>
                            @res.ResourceName
                        </td>
                        <td>
                            @res.Lifetime
                        </td>
                    </tr>
                }

            </table>
            
            <form method="POST" action="@Url.Action("AddStorageItem")">
                <input type="hidden" name="pluginId" value="@Model.Id" />
                <input type="text" name="name" placeholder="Имя " />
                <input type="text" name="value" placeholder="Значение " />
                <input type="submit" value="Добавить элемент в хранилище" class="btn btn-primary" />
            </form>

        </td>
    </tr>
</table>

